[Desktop Entry]
Name=Drumstick Metronome
Exec=kmetronome
Icon=kmetronome
Type=Application
Comment=MIDI Metronome Using ALSA Sequencer
Comment[es]=Metrónomo MIDI utilizando el secuenciador ALSA
Categories=AudioVideo;Audio;Midi;Education;Music;
