[Desktop Entry]
Name=Drumstick Metronome
Name[en_US]=Drumstick Metronome
Name[es]=Metrónomo Drumstick
Type=Application
Terminal=false
Exec=kmetronome
Icon=kmetronome
Categories=AudioVideo;Audio;Midi;Education;Music;
Keywords=Music;MIDI;Metronome;ALSA;
Comment=MIDI Metronome Using ALSA Sequencer
Comment[en_US]=MIDI Metronome Using ALSA Sequencer
Comment[es]=Metrónomo MIDI utilizando el secuenciador ALSA
GenericName=MIDI Metronome
GenericName[en_US]=MIDI Metronome
GenericName[es]=Metrónomo MIDI
